.wrapper {
    display: flex;
}

.sidebar {
    width: 450px;
    background-color: black;
    padding: 20px;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
}

.profile-picture img {
    border-radius: 50%;
    max-width: 100px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

h3 {
    color: #555;
}

strong {
    font-weight: bold;
}

article {
    margin-bottom: 20px;
}

article h3 {
    color: #555;
}

ul {
    list-style-type: circle;
    padding: 0;
    padding-left: 50px;
}

ul li {
    margin-bottom: 8px;
    
}

ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #000; /* Change to 1px solid line */
    transition: border-bottom 0.3s;
}

ul li a:hover {
    border-bottom: 2px solid #000; /* Increase thickness on hover */
}

header p a {
    color: #000;
    text-decoration: underline;
}

header p a:hover {
    text-decoration: none; /* Remove underline on hover */
}

.sub-header {
    padding: 5px; /* You can adjust the padding value as needed */
    color: rgba(128, 128, 128, 11); /* Transparent grey color */
    margin-top: -20px;
    margin-left: -2px;
  }
  
